@import "vanilla-cookieconsent/src/cookieconsent.css";

/* Overwrite defaults */

.cc_div .cc-link {
  color: var(--cc-text);
  border-color: var(--text);
}

[id^=block] span code.code {
  display: none;
}

#c-bns button {
  white-space: break-spaces;
}
